<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Accessible CAPTCHA</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<p class="{{#if isCorrect}}is--correct{{else}}is--incorrect{{/if}}">{{text}}</p>
	<a href="/">Try out another CAPTCHA</a>

	<script type="text/javascript" src="helpers.js"></script>
	<script type="text/javascript" src="main.js"></script>
</body>
</html>